---
import FormLayout from '@partials/FormLayout.astro';
---

<FormLayout>
	<div slot='sidebar'>
		<h2 class='text-white text-[32px]/[38px] lg:text-[32px]/[48px] font-bold uppercase'>
			Bienvenue <br class='block sm:hidden lg:block' /> dans notre communauté!
		</h2>
		<p class='mt-6 text-xs/[20.3px] text-white'>
			Joujouthèque est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge préscolaire.
			Son action est qualifiée de nécessaire aux premiers pas de l’enfant dans son cheminement vers l’école. La
			Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un enfant. Elle aide à
			prévenir ou diminuer les retards de développement des tout-petits.
			<br />
			 Venez nous rejoindre pour vivre ensemble l'expérience de la joie!
		</p>
		<div class="lg:hidden flex flex-col justify-center mt-10 max-w-[170px] mx-auto w-full">
			<div class="">
				<a href="/" class="btn btn-outline text-center mb-4 w-full">Connexion</a>
			</div>
			<div class="">
				<a href="/" class="btn btn-outline text-center w-full">Devenir membre</a>
			</div>
		</div>
	</div>
	<div slot='content'>
		<div class=''>
			<div class='max-w-sm lg:max-w-none mx-auto lg:mx-0'>
				<h1 class='text-brand-blue-300 text-[32px]/[38px] uppercase tracking-[-0.6px] font-bold'>
					Devenir membre
				</h1>
				<p class='mt-4 lg:mt-8 text-base/[23px] text-brand-gray-500 max-w-lg'>
					Veuillez saisir vos informations pour pouvoir utiliser tous nos services.
				</p>
			</div>
			<form
				action=''
				class='mt-8 space-y-4 max-w-sm mx-auto lg:mx-0'>
				<div>
					<label
						for='form-name'
						class='text-base/[23px] font-medium text-gray-900'>
						Nom
					</label>
					<div>
						<input
							type='text'
							class='form-input pr-12'
							name='name'
							id='form-name'
							value='Nom'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-prenom'
						class='text-base/[23px] font-medium text-gray-900'>
						Prénom
					</label>
					<div>
						<input
							type='text'
							class='form-input pr-12'
							name='prename'
							id='form-prenom'
							value='Prenom'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-email'
						class='text-base/[23px] font-medium text-gray-900'>
						Courriel
					</label>
					<div class='relative'>
						<input
							type='email'
							class='form-input pr-12'
							name='email'
							id='form-email'
							value='nom@gmail.com'
						/>
						<svg
							width='20'
							height='16'
							viewBox='0 0 20 16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							class='absolute right-4 top-1/2 -translate-y-1/2'>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M15.8332 15.5C17.6742 15.5 19.1666 14.0076 19.1666 12.1667V4.68557C19.1669 4.67283 19.1669 4.66005 19.1666 4.64725V3.83333C19.1666 1.99238 17.6742 0.5 15.8332 0.5H4.16656C2.32561 0.5 0.833229 1.99238 0.833229 3.83333V4.64726C0.832933 4.66005 0.832935 4.67282 0.833229 4.68556V12.1667C0.833229 14.0076 2.32561 15.5 4.16656 15.5H15.8332ZM2.4999 12.1667C2.4999 13.0871 3.24609 13.8333 4.16656 13.8333H15.8332C16.7537 13.8333 17.4999 13.0871 17.4999 12.1667V5.89753L11.2379 8.40234C10.4432 8.72022 9.55663 8.72022 8.76193 8.40234L2.4999 5.89753V12.1667ZM10.6189 6.85488L17.4999 4.10247V3.83333C17.4999 2.91286 16.7537 2.16667 15.8332 2.16667H4.16656C3.24609 2.16667 2.4999 2.91286 2.4999 3.83333V4.10247L9.38091 6.85488C9.77826 7.01382 10.2215 7.01382 10.6189 6.85488Z'
								fill='#667185'
							></path>
						</svg>
					</div>
				</div>
				<div>
					<label
						for='form-password'
						class='text-base/[23px] font-medium text-gray-900'>
						Mot de passe
					</label>
					<div>
						<input
							type='password'
							class='form-input pr-12'
							name='password'
							id='form-password'
							value='****'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-repeat-password'
						class='text-base/[23px] font-medium text-gray-900'>
						Répéter le mot de passe
					</label>
					<div class="relative">
						<input
							type='password'
							class='form-input pr-12'
							name='repeat-password'
							id='form-repeat-password'
							value='****'
						/>
						<svg class='w-4 h-4 absolute right-4 top-1/2 -translate-y-1/2' width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m13.425 3.987 1.28-1.28a1 1 0 0 0-1.414-1.414l-12 12a1 1 0 1 0 1.414 1.414l1.58-1.58c1.152.569 2.423.871 3.719.876a8.45 8.45 0 0 0 7.94-5.67l.003-.008a1 1 0 0 0-.003-.652 8.4 8.4 0 0 0-2.52-3.686ZM12 5.411 9.929 7.483a2 2 0 0 1-2.45 2.451L5.8 11.611a6.4 6.4 0 0 0 8.13-3.608A6.4 6.4 0 0 0 12 5.41Z" fill="#898D96"/><path d="M7.999 2c.54 0 1.077.052 1.602.154L7.745 4.011a6.4 6.4 0 0 0-5.678 3.992 6.4 6.4 0 0 0 .58 1.106l-1.433 1.433a8.448 8.448 0 0 1-1.16-2.209 1.002 1.002 0 0 1-.055-.372v-.015c.006-.093.024-.185.055-.273A8.4 8.4 0 0 1 7.999 2Z" fill="#898D96"/></svg>
					</div>
				</div>
				<div>
					<label
						for='form-repeat-password'
						class='text-base/[23px] font-medium text-gray-900'>
						Téléphone
					</label>
					<div>
						<input
							type='phone'
							class='form-input pr-12'
							name='phone'
							id='form-phone'
							value='(000) 000-00-00'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-address'
						class='text-base/[23px] font-medium text-gray-900'>
						Address
					</label>
					<div>
						<input
							type='text'
							class='form-input pr-12 !border-[#5FC381] focus:!ring-transparent'
							name='address'
							id='form-address'
							value='1184 Ste-Catherine Ouest, suite 600'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-city'
						class='text-base/[23px] font-medium text-gray-900'>
						Ville
					</label>
					<div>
						<input
							type='text'
							class='form-input pr-12'
							name='city'
							id='form-city'
							value='Montreal'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-province'
						class='text-base/[23px] font-medium text-gray-900'>
						Province
					</label>
					<div>
						<input
							type='text'
							class='form-input pr-12'
							name='province'
							id='form-province'
							value='QC'
						/>
					</div>
				</div>
				<div>
					<label
						for='form-postal'
						class='text-base/[23px] font-medium text-gray-900'>
						Code postal
					</label>
					<div>
						<input
							type='text'
							class='form-input pr-12 !border-[#E26E6A] focus:!ring-transparent'
							name='postal'
							id='form-postal'
							value='H3K'
						/>
						<span class="text-[#CB1A14] block mt-2 font-medium">Mauvais format du code postal, ex. H3B 1K1.</span>
					</div>
				</div>
				<div class='!mt-8 text-center lg:text-left'>
					<button class='btn btn-primary w-full lg:w-auto'>S'inscrire</button>
				</div>
				<div class="flex items-start mt-8">
					<div class="flex items-center">
						<input id="terms" type="checkbox" value="" class="mt-1 w-4 h-4 border border-gray-300 rounded focus:ring-3 focus:ring-blue-300 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
					</div>
					<label for="terms" class="ml-3 font-medium text-brand-gray-500">J'accepte les conditions générales de Joujoutheque.</a></label>
				</div>
				<div class='mt-8'>
					<span class='flex gap-3 items-center font-medium text-brand-gray-500'>Vous êtes déjà membre ? <a href="/" class="font-semibold text-brand-blue-200 underline">Connexion</a> </span>
				</div>
			</form>
		</div>
	</div>
</FormLayout>
