---

---

<div class='relative bg-brand-blue-50'>
	<img
		src='/img/bg-hero-decor.png'
		class='hidden lg:block absolute inset-x-0 xl:w-[95%] 2xl:w-5/6 mx-auto h-auto top-24 xl:top-10 object-cover z-10'
		alt='background decor'
	/>
	<img
		src='/img/hero-cloud-contact-mobile.png'
		class='block lg:hidden absolute inset-x-0 w-full h-auto object-cover object-top bottom-0 z-0'
		alt='cloud image'
	/>
	<img
		src='/img/hero-cloud.png'
		class='hidden lg:block absolute inset-x-0 w-full h-auto object-cover object-top bottom-0 z-0'
		alt='cloud image'
	/>
	<div
		class='relative z-30 container lg:px-16 xl:px-32 pt-8 md:pt-12 lg:pt-16 sm:pb-40 md:pb-44 lg:pb-56 xl:pb-80 2xl:pb-96'>
		<div class='md:w-3/4 lg:w-3/5 xl:w-[45%] 2xl:w-2/5'>
			<h1 class='text-brand-blue-100 font-bold text-[32px]/[38px] md:text-[40px]/[48px] 2xl:text-5xl pb-6 uppercase'>
				Nous contacter
			</h1>
			<p class='text-brand-gray-500'>
				Depuis 1998, la Joujouthèque Saint-Michel accueille chaleureusement les tout-petits et leurs parents. <br /><br
				/>
				 Sa mission est de sensibiliser à l’importance du jeu dans le développement de l’enfant et favoriser la relation
				parent-enfant afin de prévenir ou diminuer les retards de développement.
			</p>
		</div>
	</div>
</div>
<div class='md:-mt-16 lg:mt-0 xl:-mt-12 2xl:mt-0 relative container lg:px-16 xl:px-32'>
	<div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-12 md:gap-6 pt-20 sm:pt-0 mb-8'>
		<div class='bg-brand-green-50 rounded-[32px] p-5 xl:p-6 pt-12 text-center relative md:mb-4 xl:mb-0 min-h-[260px]'>
			<span
				class='absolute -top-7 w-16 h-16 inset-x-0 flex justify-center items-center p-2 mx-auto rounded-full bg-brand-green-100'>
				<svg
					width='22'
					height='28'
					fill='none'
					xmlns='http://www.w3.org/2000/svg'
					><path
						d='M11 12.465a2.666 2.666 0 1 0 0-5.332 2.666 2.666 0 0 0 0 5.332Zm-.947 9.214a1.333 1.333 0 0 0 1.893 0l5.454-5.467a9.053 9.053 0 1 0-12.8 0l5.453 5.467ZM4.64 9.185a6.413 6.413 0 0 1 2.84-4.733 6.413 6.413 0 0 1 7.04 0 6.427 6.427 0 0 1 1 9.88L11 18.852l-4.52-4.52a6.36 6.36 0 0 1-1.84-5.147Zm15.693 15.547H1.666a1.333 1.333 0 0 0 0 2.667h18.667a1.333 1.333 0 0 0 0-2.667Z'
						fill='#fff'
					></path></svg
				>
			</span>
			<span class='block text-brand-gray-500 font-bold uppercase text-2xl pb-1 xl:pt-8'>OUEST</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>9480, rue Irène-Joly</span>
			<span class='font-bold text-sm text-brand-green-400 block uppercase pb-2'
				>Coin rue Charland<br />
				 Local 7 au sous-sol<br />
				 514 381-9974</span
			>
			<a
				href='tel:(514)381-9974'
				class='block text-brand-gray-500'
				>514 381-9974</a
			>
			<a
				href='mailto:joujouthequestmichel@bellnet.ca'
				class='block text-brand-gray-500 break-words'
				>joujouthequestmichel@bellnet.ca</a
			>
		</div>
		<div class='bg-brand-blue-50 rounded-[32px] p-5 xl:p-6 text-center relative md:mb-4 xl:mb-0 min-h-[260px]'>
			<span
				class='absolute -top-7 w-16 h-16 inset-x-0 flex justify-center items-center p-2 mx-auto rounded-full bg-[#AAD3FF]'>
				<svg
					width='22'
					height='28'
					fill='none'
					xmlns='http://www.w3.org/2000/svg'
					><path
						d='M11 12.465a2.666 2.666 0 1 0 0-5.332 2.666 2.666 0 0 0 0 5.332Zm-.947 9.214a1.333 1.333 0 0 0 1.893 0l5.454-5.467a9.053 9.053 0 1 0-12.8 0l5.453 5.467ZM4.64 9.185a6.413 6.413 0 0 1 2.84-4.733 6.413 6.413 0 0 1 7.04 0 6.427 6.427 0 0 1 1 9.88L11 18.852l-4.52-4.52a6.36 6.36 0 0 1-1.84-5.147Zm15.693 15.547H1.666a1.333 1.333 0 0 0 0 2.667h18.667a1.333 1.333 0 0 0 0-2.667Z'
						fill='#fff'
					></path></svg
				>
			</span>
			<span class='block text-brand-gray-500 font-bold uppercase text-2xl pb-1 pt-8'>EST</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
			<span class='font-bold text-sm text-brand-blue-200 block uppercase pb-2'
				>Coin 2e Avenue<br />
				 Local 206 au 2e étage <br />
				 514 722-1211 poste 22</span
			>
			<a
				href='tel:(514)381-9974'
				class='block text-brand-gray-500'
				>514 381-9974</a
			>
			<span class='block text-brand-gray-500'>Fermé l’été</span>
		</div>
		<div class='bg-brand-yellow-75 rounded-[32px] p-5 xl:p-6 text-center relative min-h-[260px]'>
			<span
				class='absolute -top-7 w-16 h-16 inset-x-0 flex justify-center items-center p-2 mx-auto rounded-full bg-[#EAD400]'>
				<svg
					width='22'
					height='28'
					fill='none'
					xmlns='http://www.w3.org/2000/svg'
					><path
						d='M11 12.465a2.666 2.666 0 1 0 0-5.332 2.666 2.666 0 0 0 0 5.332Zm-.947 9.214a1.333 1.333 0 0 0 1.893 0l5.454-5.467a9.053 9.053 0 1 0-12.8 0l5.453 5.467ZM4.64 9.185a6.413 6.413 0 0 1 2.84-4.733 6.413 6.413 0 0 1 7.04 0 6.427 6.427 0 0 1 1 9.88L11 18.852l-4.52-4.52a6.36 6.36 0 0 1-1.84-5.147Zm15.693 15.547H1.666a1.333 1.333 0 0 0 0 2.667h18.667a1.333 1.333 0 0 0 0-2.667Z'
						fill='#fff'
					></path></svg
				>
			</span>
			<span class='block text-brand-gray-500 font-bold uppercase text-2xl pb-1 pt-8'>SUD</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>2651, rue Crémazie Est</span>
			<span class='font-bold text-sm text-brand-orange-100 block uppercase pb-2'
				>Coin 2e Avenue<br />
				 Local 206 au 2e étage <br />
				 514 722-1211 poste 22</span
			>
			<span class='block text-brand-gray-500'>Seulement le samedi / <br /> Fermé l’été</span>
		</div>
		<div class='bg-[#FFC17D] rounded-[32px] p-5 xl:p-6 text-center relative min-h-[260px]'>
			<span
				class='absolute -top-7 w-16 h-16 inset-x-0 flex justify-center items-center p-2 mx-auto rounded-full bg-[#ff7900]'>
				<svg
					width='22'
					height='28'
					fill='none'
					xmlns='http://www.w3.org/2000/svg'
					><path
						d='M11 12.465a2.666 2.666 0 1 0 0-5.332 2.666 2.666 0 0 0 0 5.332Zm-.947 9.214a1.333 1.333 0 0 0 1.893 0l5.454-5.467a9.053 9.053 0 1 0-12.8 0l5.453 5.467ZM4.64 9.185a6.413 6.413 0 0 1 2.84-4.733 6.413 6.413 0 0 1 7.04 0 6.427 6.427 0 0 1 1 9.88L11 18.852l-4.52-4.52a6.36 6.36 0 0 1-1.84-5.147Zm15.693 15.547H1.666a1.333 1.333 0 0 0 0 2.667h18.667a1.333 1.333 0 0 0 0-2.667Z'
						fill='#fff'
					></path></svg
				>
			</span>
			<div class='flex justify-center gap-2 pt-8'>
				<span class='shrink-0'
					><svg
						width='20'
						height='20'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							d='M2 16.142h9a1.5 1.5 0 0 1 .204 2.987l-.204.013H2a1.5 1.5 0 0 1-.204-2.986L2 16.142ZM4.94 4.584a1.5 1.5 0 0 1 1.952-.145l.169.145 7 7a1.5 1.5 0 0 1-1.953 2.267l-.169-.145-7-7a1.5 1.5 0 0 1 0-2.122ZM18 .145a1.5 1.5 0 0 1 1.486 1.296l.014.204v9a1.5 1.5 0 0 1-2.986.204l-.014-.204v-9a1.5 1.5 0 0 1 1.5-1.5Z'
							fill='#FF7A00'
						></path></svg
					></span
				>
				<span class='block text-brand-gray-500 font-bold uppercase text-2xl pb-1'>NEW</span>
				<span class='shrink-0 -scale-x-100 transform'
					><svg
						width='20'
						height='20'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							d='M2 16.142h9a1.5 1.5 0 0 1 .204 2.987l-.204.013H2a1.5 1.5 0 0 1-.204-2.986L2 16.142ZM4.94 4.584a1.5 1.5 0 0 1 1.952-.145l.169.145 7 7a1.5 1.5 0 0 1-1.953 2.267l-.169-.145-7-7a1.5 1.5 0 0 1 0-2.122ZM18 .145a1.5 1.5 0 0 1 1.486 1.296l.014.204v9a1.5 1.5 0 0 1-2.986.204l-.014-.204v-9a1.5 1.5 0 0 1 1.5-1.5Z'
							fill='#FF7A00'
						></path></svg
					></span
				>
			</div>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'
				>2e étage du MAXI 10 200, boul. Pie - IX</span
			>
			<span class='font-bold text-sm text-brand-red-75 block uppercase pb-2'
				>Coin 2e Avenue <br />
				 514 722-1211 poste 22 <br />
				 Local 206 au 2e étage</span
			>
		</div>
	</div>
	<div class='text-center md:w-3/4 mx-auto'>
		<div>
			<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-blue-100 text-left md:text-center'>
				Protection <span class='text-brand-green-300'>des</span>
				<span class='text-brand-orange-100 break-words ml-2'>renseignements</span>
				<span> personnels</span>
			</h2>
			<span class='rounded-full w-2 h-2 bg-brand-orange-100 block mx-auto mb-6'></span>
		</div>
		<p class='text-brand-gray-500 text-sm pb-4'>
			La personne désignée responsable de la protection des renseignements personnels au sein de la Joujouthèque
			St-Michel est-Mme Isabelle Tremblay, directrice.
		</p>
		<span class='text-sm text-brand-gray-500 block'
			>Vous pouvez la contacter par téléphone au <a
				href='tel:(514)381-9974'
				class='text-brand-blue-200 font-medium'
				>(514) 381-9974</a
			></span
		>
		<span class='text-sm text-brand-gray-500 block'
			>ou par courriel au <a
				href='mailto:joujouthequestmichel@bellnet.ca'
				class='text-brand-blue-200 font-medium underline'>
				joujouthequestmichel@bellnet.ca</a
			></span
		>
	</div>
</div>
