---
import FormLayout from '@partials/FormLayout.astro';
---

<FormLayout hideSidebarOnMobile>
	<div slot='sidebar'>
		<h2 class='text-white text-[32px]/[48px] font-bold uppercase'>
			Bienvenue <br class='block sm:hidden lg:block' /> dans notre communauté!
		</h2>
		<p class='mt-6 text-xs/[20.3px] text-white'>
			Joujouthèque est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge préscolaire.
			Son action est qualifiée de nécessaire aux premiers pas de l’enfant dans son cheminement vers l’école. La
			Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un enfant. Elle aide à
			prévenir ou diminuer les retards de développement des tout-petits.
			<br />
			 Venez nous rejoindre pour vivre ensemble l'expérience de la joie!
		</p>
	</div>

	<div slot='content'>
		<div class=''>
			<div class='text-center lg:text-left'>
				<h1 class='text-brand-blue-300 text-[32px]/[38px] uppercase tracking-[-0.6px] font-bold mx-8 sm:mx-0'>
					Réinitialiser mon mot de passe
				</h1>
				<p class='mt-4 lg:mt-8 text-base/[23px] text-brand-gray-500 max-w-lg mx-auto lg:mx-0'>
					Veuillez saisir votre e-mail, nous vous enverrons un lien pour réinitialiser votre mot de passe.
				</p>
			</div>
			<form
				action=''
				class='mt-8 space-y-4 max-w-sm mx-auto lg:mx-0'>
				<div>
					<label
						for='form-email'
						class='text-base/[23px] font-medium text-gray-900'>
						Courriel
					</label>
					<div class='relative'>
						<input
							type='email'
							class='form-input pr-12'
							name='email'
							id='form-email'
							value='nom@gmail.com'
						/>
						<svg
							width='20'
							height='16'
							viewBox='0 0 20 16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							class='absolute right-4 top-1/2 -translate-y-1/2'>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M15.8332 15.5C17.6742 15.5 19.1666 14.0076 19.1666 12.1667V4.68557C19.1669 4.67283 19.1669 4.66005 19.1666 4.64725V3.83333C19.1666 1.99238 17.6742 0.5 15.8332 0.5H4.16656C2.32561 0.5 0.833229 1.99238 0.833229 3.83333V4.64726C0.832933 4.66005 0.832935 4.67282 0.833229 4.68556V12.1667C0.833229 14.0076 2.32561 15.5 4.16656 15.5H15.8332ZM2.4999 12.1667C2.4999 13.0871 3.24609 13.8333 4.16656 13.8333H15.8332C16.7537 13.8333 17.4999 13.0871 17.4999 12.1667V5.89753L11.2379 8.40234C10.4432 8.72022 9.55663 8.72022 8.76193 8.40234L2.4999 5.89753V12.1667ZM10.6189 6.85488L17.4999 4.10247V3.83333C17.4999 2.91286 16.7537 2.16667 15.8332 2.16667H4.16656C3.24609 2.16667 2.4999 2.91286 2.4999 3.83333V4.10247L9.38091 6.85488C9.77826 7.01382 10.2215 7.01382 10.6189 6.85488Z'
								fill='#667185'
							></path>
						</svg>
					</div>
				</div>
				<div class='!mt-8 text-center lg:text-left'>
					<button class='btn btn-primary'> Resset mot de passe</button>
				</div>
			</form>
		</div>
	</div>
</FormLayout>
