---

---

<div class='relative'>
	<img
		src='/img/bg-hero-home-mobile.png'
		class='block lg:hidden absolute inset-x-0 top-0 object-bottom h-full w-full object-cover'
		alt='background hero'
	/>
	<img
		src='/img/bg-hero-home.png'
		class='hidden lg:block absolute inset-x-0 top-0 object-[35%_50%] xl:object-bottom [@media(min-width:1921px)]:object-top h-full w-full object-cover'
		alt='background hero'
	/>
	<div class='relative z-20 container lg:px-16 xl:px-32'>
		<div
			class='lg:w-[45%] xl:w-[37%] 2xl:w-[36%] pt-8 md:pt-16 2xl:pt-36 pb-[19rem] sm:pb-[30rem] md:pb-[36rem] lg:pb-36 2xl:pb-76 [@media(min-width:1921px)]:pb-36'>
			<h1 class='text-brand-grey-500 font-bold text-[32px]/[38px] md:text-[40px]/[48px] 2xl:text-5xl pb-6 uppercase'>
				Rendez <span class='text-brand-blue-100'> votre</span><span class='text-[#089900]'> enfant</span><span
					class='text-brand-orange-100'>
					heureux</span
				>
			</h1>
			<div class='hidden lg:block'>
				<p class='text-brand-gray-500 pb-6'>
					Joujouthèque est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge
					préscolaire. Son action est qualifiée de nécessaire aux premiers pas de l’enfant dans son cheminement vers
					l’école. La Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un
					enfant. Elle aide à prévenir ou diminuer les retards de développement des tout-petits. Venez nous rejoindre
					pour vivre ensemble l'expérience de la joie!
				</p>
				<a
					href='/'
					class='font-semibold text-brand-gray-500 px-4 py-2 inline-flex gap-2 rounded-full bg-brand-yellow-75'>
					Planifiez votre première visite
					<svg
						xmlns='http://www.w3.org/2000/svg'
						fill='none'
						viewBox='0 0 24 24'
						stroke-width='1.5'
						stroke='currentColor'
						class='w-6 h-6'>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3'
						></path>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>
<div class='block lg:hidden container lg:px-16 xl:px-32 relative z-30'>
	<p class='text-brand-gray-500 pb-6'>
		Joujouthèque est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge préscolaire.
		Son action est qualifiée de nécessaire aux premiers pas de l’enfant dans son cheminement vers l’école. La
		Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un enfant. Elle aide à
		prévenir ou diminuer les retards de développement des tout-petits. Venez nous rejoindre pour vivre ensemble
		l'expérience de la joie!
	</p>
	<a
		href='/'
		class='font-semibold text-brand-gray-500 px-4 py-2 flex md:inline-flex justify-center gap-2 rounded-full bg-brand-yellow-75'>
		Planifiez votre première visite
		<svg
			xmlns='http://www.w3.org/2000/svg'
			fill='none'
			viewBox='0 0 24 24'
			stroke-width='1.5'
			stroke='currentColor'
			class='w-6 h-6'>
			<path
				stroke-linecap='round'
				stroke-linejoin='round'
				d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3'
			></path>
		</svg>
	</a>
</div>

<div class='container lg:px-8 xl:px-16 pt-16 lg:pt-0 mb-16'>
	<div class='xl:w-5/6 2xl:w-3/4 mx-auto text-center'>
		<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-green-300'>
			À <span class='text-brand-blue-100'>la</span>
			<span class='text-brand-orange-100'> une</span>
		</h2>
		<span class='rounded-full w-2 h-2 bg-brand-blue-100 block mx-auto mb-6'></span>
		<p class='text-brand-gray-500'>
			Joujouthèque est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge préscolaire.
			Son action est qualifiée de néc16ssaire aux premiers pas de l’enfant dans son cheminement vers l’école. La
			Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un enfant. Elle aide à
			prévenir ou diminuer les retards de développement des tout-petits. Venez nous rejoindre pour vivre ensemble
			l'expérience de la joie!
		</p>
	</div>
	<div class='flex flex-wrap lg:flex-nowrap justify-center lg:justify-between gap-6 md:gap-10 pt-16 lg:pt-20'>
		<div class='relative w-full md:w-[47%] lg:w-[31%]'>
			<img
				src='/img/annonce-image.png'
				class='hidden md:block absolute inset-x-0 -top-6 mx-auto h-52 w-52'
				alt='annonce image'
			/>
			<div class='bg-brand-yellow-50 rounded-[32px] px-8 pb-8 pt-6 md:py-10 h-full flex flex-col justify-between'>
				<span class='block md:pt-44 text-center'>
					<span class='uppercase text-xl block text-brand-gray-500 font-medium'
						>Les points de service EST et SUD sont fermés durant l’été.</span
					>
					<span class='uppercase text-xl block text-brand-gray-500 font-medium pt-7'
						>Les point de service OUEST est ouvert durant l’été.</span
					>
				</span>
				<span class='pt-10 md:pt-6 block font-bold text-brand-orange-100 text-center uppercase text-xs'>Annonce</span>
			</div>
		</div>
		<div class='relative w-full md:w-[47%] lg:w-[31%]'>
			<img
				src='/img/programmation-image.png'
				class='hidden md:block absolute inset-x-0 -top-6 mx-auto h-52 w-52'
				alt='programmation image'
			/>
			<div class='bg-brand-blue-50 rounded-[32px] px-8 pb-8 pt-6 md:py-10 h-full flex flex-col justify-between'>
				<span class='block md:pt-44 text-center'>
					<span class='uppercase text-xl block text-brand-gray-500 font-medium'>Formation et prêt de porte-bébé</span>
					<ul class='pt-3'>
						<li class='font-medium'>5 et 19 juillet</li>
						<li class='font-medium'>2 et 9 août</li>
						<li class='font-medium'>10</li>
					</ul>
					<span class='px-3 py-1 inline-block rounded-full text-white bg-brand-blue-200 font-semibold mt-4'
						>Formation</span
					>
				</span>
				<span class='pt-10 md:pt-6 block font-bold text-brand-blue-200 text-center uppercase text-xs'
					>Programmation</span
				>
			</div>
		</div>
		<div class='relative w-full md:w-[47%] lg:w-[31%]'>
			<img
				src='/img/evenements-image.png'
				class='hidden md:block absolute inset-x-0 -top-6 mx-auto h-52 w-52'
				alt='evenements image'
			/>
			<div class='bg-brand-green-50 rounded-[32px] px-8 pb-8 pt-6 md:py-10 h-full flex flex-col justify-between'>
				<span class='block md:pt-44 text-center'>
					<span class='uppercase text-xl block text-brand-gray-500 font-medium'>Formation et prêt de porte-bébé</span>
					<ul class='pt-3'>
						<li class='font-medium'>5-12-19-26 juillet</li>
						<li class='font-medium'>2-9-16 août</li>
						<li class='font-medium'>10h à 12h</li>
						<li class='font-medium'>Enfants 0-8 ans. et leurs Dorante</li>
					</ul>
					<span class='px-3 py-1 inline-block rounded-full text-white bg-brand-green-300 font-semibold mt-4'
						>Inscription</span
					>
				</span>
				<span class='pt-10 md:pt-6 block font-bold text-brand-green-400 text-center uppercase text-xs'>Evénements</span>
			</div>
		</div>
	</div>
</div>

<div class='relative'>
	<img
		src='/img/bg-about.png'
		class='hidden lg:block absolute inset-x-0 w-full h-full object-cover object-bottom'
		alt='background about'
	/>
	<div class='container lg:px-16 xl:px-32 relative z-20'>
		<div class='text-center'>
			<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-blue-100'>
				<span class='text-brand-yellow-100'>À</span>
				<span class='text-brand-green-200'>propos</span>
				<br />
				<span class='text-brand-blue-100'>de</span>
				<span class='text-brand-yellow-warm'>nous</span>
			</h2>
			<span class='rounded-full w-2 h-2 bg-brand-blue-100 block mx-auto mb-8 lg:mb-12'></span>
		</div>
		<div class='prose max-w-none flex flex-col lg:flex-row lg:gap-8 prose-p:text-brand-gray-500 mb-6 md:mb-8'>
			<span
				><p>
					Depuis 1998, la Joujouthèque Saint-Michel accueille chaleureusement les tout-petits et leurs parents. Sa
					mission est de sensibiliser à l’importance du jeu dans le développement de l’enfant et favoriser la relation
					parent-enfant afin de prévenir ou diminuer les retards de développement. L’expertise de la Joujouthèque est
					reconnue dans le quartier Saint-Michel.
				</p></span
			>
			<span
				><p>
					Cet organisme famille est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge
					préscolaire. Son action est qualifiée de nécessaire aux premiers pas de l’enfant dans son cheminement vers
					l’école. La Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un
					enfant. Elle aide à prévenir ou diminuer les retards de développement des tout-petits.
				</p></span
			>
		</div>
		<div class='pb-8 md:pb-16 lg:pb-28 flex justify-center'>
			<iframe
				class='rounded-[16px] aspect-[16/9] w-full lg:min-w-[821px] lg:max-w-[821px]'
				src='https://www.youtube.com/embed/rDGAIXyHs7M?si=qvBSnwzgqz3jVZXg'
				title='YouTube video player'
				frameborder='0'
				allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
				allowfullscreen
			></iframe>
		</div>
	</div>
</div>

<div class='hidden lg:block container lg:px-16 xl:px-32 mb-12'>
	<div class='flex gap-16 justify-between'>
		<div class='w-3/4 2xl:w-3/5'>
			<h2 class='text-brand-blue-200 text-[32px]/[48px] font-bold uppercase'>
				Nos <span class='text-brand-green-300'>services</span><br />
				<span class='text-brand-yellow-100'>et</span>
				<span class='text-brand-orange-100'>activités</span>
			</h2>
			<p class='text-brand-gray-500 pt-16'>
				Lorem ipsum dolor sit amet consectetur. Vel at quis vitae sem convallis proin neque. Sed lobortis pellentesque
				non purus fames in nisl. A nulla eu fusce tristique ipsum feugiat mollis. Lobortis aliquam vestibulum urna sed.
				Lorem duis velit ut pellentesque id habitasse vitae amet. Nec arcu quisque quisque luctus. Fermentum est at id
				non.
			</p>
		</div>
		<span class='w-72 2xl:w-80 shrink-0'>
			<img
				src='/img/services-image.png'
				class='w-full h-72 2xl:h-80'
				alt='services image'
			/>
		</span>
	</div>
	<div class='grid grid-cols-4 gap-6 pt-16 xl:pt-20'>
		<div class='bg-brand-green-50 rounded-[16px] p-5 xl:p-6 text-center'>
			<span class='block text-brand-green-400 font-bold uppercase text-2xl pb-1'>OUEST</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>9480, rue Irène-Joly</span>
			<span class='font-bold text-sm text-brand-green-400 block uppercase'
				>Coin rue Charland <br />
				 Local 7 au sous-sol <br />
				 514 381-9974</span
			>
		</div>
		<div class='bg-brand-blue-50 rounded-[16px] p-5 xl:p-6 text-center'>
			<span class='block text-brand-blue-300 font-bold uppercase text-2xl pb-1'>EST Maxi</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
			<span class='font-bold text-sm text-brand-blue-200 block uppercase'
				>Coin boul. Pie-IX <br />
				 Local 214 au 2e étage <br />
				 514 922-9974</span
			>
		</div>
		<div class='bg-brand-blue-50 rounded-[16px] p-5 xl:p-6 text-center'>
			<span class='block text-brand-blue-300 font-bold uppercase text-2xl pb-1'>EST</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
			<span class='font-bold text-sm text-brand-blue-200 block uppercase'
				>Coin boul. Pie-IX <br />
				 Local 214 au 2e étage <br />
				 514 922-9974</span
			>
		</div>
		<div class='bg-brand-yellow-50 rounded-[16px] p-5 xl:p-6 text-center'>
			<span class='block text-brand-yellow-warm font-bold uppercase text-2xl pb-1'>SUD</span>
			<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>2651, rue Crémazie Est</span>
			<span class='font-bold text-sm text-brand-yellow-warm block uppercase'
				>Coin 2e Avenue <br />
				 514 722-1211 poste 22 <br />
				 Local 206 au 2e étage</span
			>
		</div>
	</div>
</div>

<div class='relative bg-[#faf6f0]'>
	<img
		src='/img/decor-image.png'
		class='hidden lg:block absolute inset-x-0 w-[95%] xl:w-5/6 2xl:w-3/4 mx-auto h-auto top-24 object-cover'
		alt='background decor programmation'
	/>
	<img
		src='/img/cloud-image.png'
		class='hidden lg:block absolute inset-x-0 w-full h-auto object-cover bottom-0 object-bottom'
		alt='cloud image'
	/>
	<div class='container lg:px-16 xl:px-32 pt-12 lg:pt-16 relative z-20 lg:pb-24 xl:pb-36'>
		<div class='text-center'>
			<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-green-300'>Programmation</h2>
			<span class='rounded-full w-2 h-2 bg-brand-blue-100 block mx-auto mb-12'></span>
		</div>
		<form class='lg:w-5/6 2xl:w-4/5 mx-auto flex flex-col md:flex-row gap-6 lg:gap-12 pb-6'>
			<div class='w-full'>
				<label
					for='date'
					class='font-bold text-brand-gray-500 block pb-1.5'
					>Sélectionner la période</label
				>
				<select
					name='date'
					id='date'
					class='border border-brand-gray-75 p-4 rounded-md w-full form-select'>
					<option value=''>Septembre 2023 - décembre 2023</option>
					<option value=''>January 2023 - May 2023</option>
				</select>
			</div>
			<div class='w-full'>
				<label
					for='date'
					class='font-bold text-brand-gray-500 block pb-1.5'
					>Sélectionner le point de service</label
				>
				<select
					name='date'
					id='date'
					class='border border-brand-gray-75 p-4 rounded-md w-full uppercase'>
					<option value=''>Quest</option>
					<option value=''>EST MAXI</option>
					<option value=''>EST</option>
					<option value=''>SUD</option>
				</select>
			</div>
		</form>
		<div class='grid grid-cols-1 lg:grid-cols-2 gap-8'>
			<div class='w-full pb-5 lg:pb-8'>
				<span
					class='font-bold block text-brand-gray-500 uppercase bg-brand-green-100 text-2xl py-5 px-8 rounded-[36px] mb-6 md:mb-8'
					>Sorties familiales</span
				>
				<div class='border-b border-brand-gray-75'>
					<div class='px-6 md:px-8'>
						<span class='uppercase text-brand-gray-500 font-medium block text-2xl pb-3'>Sortie aux pommes</span>
						<span class='uppercase text-brand-green-300 font-bold block text-sm pb-3'>Sortie aux pommes</span>
						<span class='text-brand-gray-500 block mb-3'>
							En autobus scolaire <br />
							 Inscription via l’infolettre du 9 septembre <br />
							 Places limitées
						</span>
						<span class='text-white font-bold bg-[#4cba01] py-2 px-4 mb-5 rounded-full inline-block'>Inscription</span>
					</div>
				</div>
				<div class='border-b border-brand-gray-75'>
					<div class='px-6 md:px-8'>
						<span class='flex items-center gap-3 text-brand-gray-500 uppercase text-2xl font-medium pt-6 md:pt-8 mb-4'>
							<span>
								<svg
									width='30'
									height='28'
									fill='none'
									xmlns='http://www.w3.org/2000/svg'
									><path
										d='m28.893 13.12-2.48-2.827.347-3.746a1.338 1.338 0 0 0-1.027-1.427l-3.68-.84-1.92-3.24a1.329 1.329 0 0 0-1.666-.547L15 2 11.547.52a1.324 1.324 0 0 0-1.667.547L7.947 4.293 4.28 5.12a1.328 1.328 0 0 0-1.04 1.427l.347 3.733-2.48 2.84a1.338 1.338 0 0 0 0 1.76l2.48 2.827-.347 3.76a1.338 1.338 0 0 0 1.027 1.426l3.68.84 1.92 3.227a1.341 1.341 0 0 0 1.68.547L15 26l3.453 1.48a1.324 1.324 0 0 0 1.667-.547l1.92-3.24 3.68-.84a1.326 1.326 0 0 0 1.027-1.426L26.4 17.68l2.48-2.827c.453-.48.453-1.226.013-1.733Zm-12.56 7.547h-2.666V18h2.666v2.667ZM15 15.333c-.733 0-1.333-.6-1.333-1.333V8.667c0-.734.6-1.334 1.333-1.334s1.333.6 1.333 1.334V14c0 .733-.6 1.333-1.333 1.333Z'
										fill='#4BBA02'
									></path></svg
								>
							</span>
							 Fête familiale des saveurs
						</span>
						<span class='uppercase text-brand-green-300 font-bold block text-sm pb-3'>Sortie aux pommes</span>
						<span class='text-brand-gray-500 block mb-3'> Parc Rene-Goupil</span>
					</div>
				</div>
			</div>
			<div class='w-full pb-5 lg:pb-8'>
				<span
					class='font-bold block text-brand-gray-500 uppercase bg-brand-blue-75 text-2xl py-5 px-8 rounded-[36px] mb-6 md:mb-8'
					>Programmation ZOOM</span
				>
				<div class='border-b border-brand-gray-75'>
					<div class='px-6 md:px-8'>
						<span class='flex items-center gap-3 text-brand-gray-500 uppercase text-2xl font-medium mb-4'>
							<span>
								<svg
									width='30'
									height='28'
									fill='none'
									xmlns='http://www.w3.org/2000/svg'
									><path
										d='m28.893 13.12-2.48-2.827.347-3.746a1.338 1.338 0 0 0-1.027-1.427l-3.68-.84-1.92-3.24a1.329 1.329 0 0 0-1.666-.547L15 2 11.547.52a1.324 1.324 0 0 0-1.667.547L7.947 4.293 4.28 5.12a1.328 1.328 0 0 0-1.04 1.427l.347 3.733-2.48 2.84a1.338 1.338 0 0 0 0 1.76l2.48 2.827-.347 3.76a1.338 1.338 0 0 0 1.027 1.426l3.68.84 1.92 3.227a1.341 1.341 0 0 0 1.68.547L15 26l3.453 1.48a1.324 1.324 0 0 0 1.667-.547l1.92-3.24 3.68-.84a1.326 1.326 0 0 0 1.027-1.426L26.4 17.68l2.48-2.827c.453-.48.453-1.226.013-1.733Zm-12.56 7.547h-2.666V18h2.666v2.667ZM15 15.333c-.733 0-1.333-.6-1.333-1.333V8.667c0-.734.6-1.334 1.333-1.334s1.333.6 1.333 1.334V14c0 .733-.6 1.333-1.333 1.333Z'
										fill='#479af6'
									></path></svg
								>
							</span>
							 Conférences Parents
						</span>
						<span class='uppercase text-brand-blue-100 font-bold block text-sm pb-3'
							>Mercredi 25 octobre, 19h a 21h</span
						>
						<span class='text-brand-gray-500 block mb-3'> Epicerie santé, budget serre</span>
						<span class='text-white font-bold bg-brand-blue-100 py-2 px-4 mb-5 rounded-full inline-block'
							>Inscription</span
						>
						<span class='uppercase text-brand-blue-100 font-bold block text-sm pb-3'
							>Mercredi 25 octobre, 19h a 21h</span
						>
						<span class='text-brand-gray-500 block mb-3'> Sujet a venir</span>
						<span class='text-white font-bold bg-brand-blue-100 py-2 px-4 mb-5 rounded-full inline-block'
							>Inscription</span
						>
					</div>
				</div>
				<div class='border-b border-brand-gray-75'>
					<div class='px-8 pt-6 md:pt-8'>
						<span class='text-brand-gray-500 uppercase text-2xl font-medium mb-4 block'> Conférences citoyennes</span>
						<span class='uppercase text-brand-blue-100 font-bold block text-sm pb-3'
							>Mercredi 27 septembre, 19h30 a 21h</span
						>
						<span class='text-brand-gray-500 block mb-3'> Sujet a venir</span>
						<span class='uppercase text-brand-blue-100 font-bold block text-sm pb-3'
							>Mercredi 27 septembre, 19h30 a 21h</span
						>
						<span class='text-brand-gray-500 block mb-3'> Sujet a venir</span>
					</div>
				</div>
			</div>
			<div class='w-full pb-5 lg:pb-8'>
				<span
					class='font-bold block text-white uppercase bg-brand-orange-100 text-2xl py-5 px-8 rounded-[36px] mb-6 md:mb-8'
					>Sport familial</span
				>
				<div class='border-b border-brand-gray-75'>
					<div class='px-6 md:px-8'>
						<span class='flex items-center gap-3 text-brand-gray-500 uppercase text-2xl font-medium mb-4'>
							<span>
								<svg
									width='30'
									height='28'
									fill='none'
									xmlns='http://www.w3.org/2000/svg'
									><path
										d='m28.893 13.12-2.48-2.827.347-3.746a1.338 1.338 0 0 0-1.027-1.427l-3.68-.84-1.92-3.24a1.329 1.329 0 0 0-1.666-.547L15 2 11.547.52a1.324 1.324 0 0 0-1.667.547L7.947 4.293 4.28 5.12a1.328 1.328 0 0 0-1.04 1.427l.347 3.733-2.48 2.84a1.338 1.338 0 0 0 0 1.76l2.48 2.827-.347 3.76a1.338 1.338 0 0 0 1.027 1.426l3.68.84 1.92 3.227a1.341 1.341 0 0 0 1.68.547L15 26l3.453 1.48a1.324 1.324 0 0 0 1.667-.547l1.92-3.24 3.68-.84a1.326 1.326 0 0 0 1.027-1.426L26.4 17.68l2.48-2.827c.453-.48.453-1.226.013-1.733Zm-12.56 7.547h-2.666V18h2.666v2.667ZM15 15.333c-.733 0-1.333-.6-1.333-1.333V8.667c0-.734.6-1.334 1.333-1.334s1.333.6 1.333 1.334V14c0 .733-.6 1.333-1.333 1.333Z'
										fill='#ff7900'
									></path></svg
								>
							</span>
							 Ligue de soccer
						</span>
						<span class='uppercase text-brand-orange-100 font-bold block text-sm pb-3'>Samedi 23 septembre</span>
						<span class='text-brand-gray-500 block mb-3'> Peres enfants 4-12 ans</span>
					</div>
				</div>
				<div class='border-b border-brand-gray-75'>
					<div class='px-8 pt-6 md:pt-8'>
						<span class='text-brand-gray-500 uppercase text-2xl font-medium mb-4 block'> Papas champions</span>
						<span class='uppercase text-brand-orange-100 font-bold block text-sm pb-3'>Du 7 octobre au 2 dec</span>
						<span class='text-brand-gray-500 block mb-3'>
							Samedis 10h a 12h <br />
							 Gymnase de l’ecole Marie-Rivier
						</span>
						<span class='uppercase text-brand-orange-100 font-bold block text-sm pb-3'>! Important</span>
						<span class='text-brand-gray-500 block mb-3'> Un parent doit jouer sur le terrain!</span>
					</div>
				</div>
			</div>
			<div class='w-full lg:pb-8'>
				<span
					class='font-bold block text-white uppercase bg-brand-red-75 text-2xl py-5 px-8 rounded-[36px] mb-6 lg:mb-8'
					>Activités parents/enfants</span
				>
				<div class='border-b border-brand-gray-75'>
					<div class='px-6 md:px-8'>
						<span class='uppercase text-brand-gray-500 font-medium block text-2xl pb-3'
							>Les Explorateurs : Combo Sortie familiale & soirée Quiz</span
						>
						<span class='uppercase text-brand-red-75 font-bold block text-sm pb-3'
							>Mercredi 27 septembre, 19h30 a 21h</span
						>
						<span class='text-brand-gray-500 block mb-3'> 5-12 ans et leurs parents</span>
					</div>
				</div>
				<div class='border-b border-brand-gray-75'>
					<div class='px-6 md:px-8'>
						<span class='flex items-center gap-3 text-brand-gray-500 uppercase text-2xl font-medium pt-6 md:pt-8 mb-4'>
							<span>
								<svg
									width='30'
									height='28'
									fill='none'
									xmlns='http://www.w3.org/2000/svg'
									><path
										d='m28.893 13.12-2.48-2.827.347-3.746a1.338 1.338 0 0 0-1.027-1.427l-3.68-.84-1.92-3.24a1.329 1.329 0 0 0-1.666-.547L15 2 11.547.52a1.324 1.324 0 0 0-1.667.547L7.947 4.293 4.28 5.12a1.328 1.328 0 0 0-1.04 1.427l.347 3.733-2.48 2.84a1.338 1.338 0 0 0 0 1.76l2.48 2.827-.347 3.76a1.338 1.338 0 0 0 1.027 1.426l3.68.84 1.92 3.227a1.341 1.341 0 0 0 1.68.547L15 26l3.453 1.48a1.324 1.324 0 0 0 1.667-.547l1.92-3.24 3.68-.84a1.326 1.326 0 0 0 1.027-1.426L26.4 17.68l2.48-2.827c.453-.48.453-1.226.013-1.733Zm-12.56 7.547h-2.666V18h2.666v2.667ZM15 15.333c-.733 0-1.333-.6-1.333-1.333V8.667c0-.734.6-1.334 1.333-1.334s1.333.6 1.333 1.334V14c0 .733-.6 1.333-1.333 1.333Z'
										fill='#fe452c'
									></path></svg
								>
							</span>
							 Planétarium
						</span>
						<span class='uppercase text-brand-red-75 font-bold block text-sm pb-3'>Samedi 21 octobre</span>
						<span class='text-brand-gray-500 block mb-3'> Places limitees</span>
						<span class='text-white font-bold bg-brand-red-75 py-2 px-4 mb-5 rounded-full inline-block'
							>Inscription</span
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='container lg:px-16 xl:px-32 mb-16 pt-8 md:pt-12 lg:pt-0'>
	<div class='text-center'>
		<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-yellow-warm'>Galerie</h2>
		<span class='rounded-full w-2 h-2 bg-brand-green-100 block mx-auto mb-12'></span>
	</div>
	<div class='block md:hidden'>
		<span>
			<img
				src='/img/gallery-01.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
		<div class='mt-8 flex items-center gap-4'>
			<span>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='w-8 h-8'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M15.75 19.5L8.25 12l7.5-7.5'
					></path>
				</svg>
			</span>
			<span>
				<img
					src='/img/gallery-03.jpg'
					class='rounded-[8px] w-full h-full'
					alt='gallery image'
				/>
			</span>
			<span>
				<img
					src='/img/gallery-04.jpg'
					class='rounded-[8px] w-full h-full'
					alt='gallery image'
				/>
			</span>
			<span>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='w-8 h-8'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M8.25 4.5l7.5 7.5-7.5 7.5'
					></path>
				</svg>
			</span>
		</div>
	</div>
	<div class='hidden md:grid grid-cols-2 gap-8'>
		<span>
			<img
				src='/img/gallery-01.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
		<span>
			<img
				src='/img/gallery-02.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
		<span>
			<img
				src='/img/gallery-03.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
		<span>
			<img
				src='/img/gallery-04.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
		<span>
			<img
				src='/img/gallery-05.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
		<span>
			<img
				src='/img/gallery-06.jpg'
				class='rounded-[16px] w-full h-full'
				alt='gallery image'
			/>
		</span>
	</div>
</div>

<div class='container lg:px-16 xl:px-32'>
	<div class='xl:w-5/6 2xl:w-3/4 mx-auto text-center'>
		<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-blue-100'>Témoignages</h2>
		<span class='rounded-full w-2 h-2 bg-brand-orange-100 block mx-auto mb-12'></span>
		<p class='text-brand-gray-500'>
			Lorem ipsum dolor sit amet consectetur. Accumsan feugiat neque ultrices suspendisse. Blandit turpis hac sagittis
			ultrices aliquet id lacus eu. Lectus sapien non elementum facilisi. Ut turpis laoreet orci nibh vitae vulputate at
			est odio. Morbi tellus magna nisl in duis. Lectus tristique imperdiet viverra nulla metus. Aenean quis odio eu et.
			Consectetur ut non vitae pellentesque morbi. Tellus sem id tellus ornare mi.
		</p>
	</div>
	<div class='pt-12'>
		<div class='grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-8 2xl:gap-16 relative'>
			<span class='hidden lg:block absolute bottom-28 -left-16'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='w-8 h-8'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M15.75 19.5L8.25 12l7.5-7.5'
					></path>
				</svg>
			</span>
			<span class='hidden lg:block absolute bottom-28 -right-16'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='w-8 h-8'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M8.25 4.5l7.5 7.5-7.5 7.5'
					></path>
				</svg>
			</span>
			<div class='text-center border-b lg:border-0 border-brand-yellow-100 pb-6'>
				<span class='text-brand-yellow-100 uppercase font-bold text-xl pb-4 block'>Dennis Callis</span>
				<p class='text-brand-gray-500'>
					Lorem ipsum dolor sit amet consectetur. Accumsan feugiat neque ultrices suspendisse. Blandit turpis hac
					sagittis ultrices aliquet id lacus eu. Lectus sapien non elementum facilisi. Ut turpis laoreet orci nibh vitae
					vulputate at est odio. Morbi tellus magna nisl in duis. Lectus tristique imperdiet viverra nulla metus.
				</p>
			</div>
			<div class='text-center border-b lg:border-0 border-brand-green-400 pb-6'>
				<span class='text-brand-green-400 uppercase font-bold text-xl pb-4 block'>Stephanie Nicol</span>
				<p class='text-brand-gray-500'>
					Lectus tristique imperdiet viverra nulla metus. Accumsan feugiat neque ultrices suspendisse. Blandit turpis
					hac sagittis ultrices aliquet id lacus eu. Lectus sapien non elementum facilisi. Ut turpis laoreet orci nibh
					vitae vulputate at est odio. Morbi tellus magna nisl in duis.
				</p>
			</div>
			<div class='text-center border-b lg:border-0 border-brand-blue-200 pb-6'>
				<span class='text-brand-blue-200 uppercase font-bold text-xl pb-4 block'>Chris Glasser</span>
				<p class='text-brand-gray-500'>
					Accumsan feugiat neque ultrices suspendisse. Blandit turpis hac sagittis ultrices aliquet id lacus eu. Lectus
					sapien non elementum facilisi. Ut turpis laoreet orci nibh vitae vulputate at est odio. Morbi tellus magna
					nisl in duis.
				</p>
			</div>
		</div>
		<span class='flex lg:hidden justify-center mt-8'>
			<a
				href='/'
				class='font-bold text-brand-gray-500 bg-brand-blue-75 rounded-full px-4 py-2'
				>Voir tous</a
			>
		</span>
	</div>
</div>
