---
import FormLayout from '@partials/FormLayout.astro';
---

<FormLayout contentHasBgColor>
	<div slot='sidebar'>
		<h2 class='text-white text-[32px]/[48px] font-bold uppercase'>
			Bienvenue <br class='block sm:hidden lg:block' /> dans notre communauté!
		</h2>
		<p class='mt-6 text-xs/[20.3px] text-white'>
			Joujouthèque est un lieu de prévention de qualité qui rejoint les parents et les jeunes enfants d’âge préscolaire.
			Son action est qualifiée de nécessaire aux premiers pas de l’enfant dans son cheminement vers l’école. La
			Joujouthèque Saint-Michel se situe comme étant une des premières ressources dans la vie d’un enfant. Elle aide à
			prévenir ou diminuer les retards de développement des tout-petits.
			<br />
			 Venez nous rejoindre pour vivre ensemble l'expérience de la joie!
		</p>
	</div>

	<div slot='content'>
		<div class='max-w-sm'>
			<h1 class='text-brand-blue-300 text-[32px]/[38px] uppercase tracking-[-0.6px] font-bold'>Connexion</h1>
			<p class='mt-8 text-base/[23px] text-brand-gray-500'>
				Veuillez saisir vos informations pour pouvoir utiliser tous nos services.
			</p>
			<a
				href=''
				class='mt-8 text-base/[23px] text-brand-blue-300 underline font-medium inline-block'>
				Mot de passe oublié ?
			</a>

			<div class='mt-8'>
				<button
					class='py-2 bg-brand-blue-100 text-white rounded-full inline-block px-3 font-semibold text-base/[23.2px]'>
					Connexion
				</button>
			</div>

			<p class='mt-8 text-base/[23px] text-brand-gray-500 font-medium'>
				Vous n'avez pas de compte ?
				<a
					href='/'
					class='underline text-brand-blue-200 font-semibold ml-2 inline-block'>
					Devenir membre
				</a>
			</p>
		</div>
	</div>
</FormLayout>
