---

---

<div class='relative'>
	<img
		src='/img/decor-schedule.png'
		class='hidden lg:block absolute inset-x-0 xl:w-[90%] 2xl:w-5/6 mx-auto h-auto top-32 xl:top-20 2xl:top-10 object-cover z-10'
		alt='background decor'
	/>
	<img
		src='/img/decor-schedule-mobile.png'
		class='block lg:hidden absolute inset-x-0 w-[25%] md:w-[20%] ml-auto h-auto top-8 right-0 object-cover z-10'
		alt='background decor'
	/>
	<img
		src='/img/cloud-yellow-mobile.png'
		class='[@media(max-width:399px)]:block [@media(min-width:400px)]:hidden absolute inset-x-0 w-full h-auto object-cover bottom-0 z-0'
		alt='cloud image'
	/>
	<img
		src='/img/cloud-yellow-tablet.png'
		class='[@media(max-width:399px)]:hidden [@media(min-width:400px)_and_(max-width:767px)]:block md:hidden absolute inset-x-0 w-full h-auto object-cover bottom-0 z-0'
		alt='cloud image'
	/>
	<img
		src='/img/cloud-yellow.png'
		class='hidden md:block absolute inset-x-0 w-full h-auto object-cover object-top bottom-0 z-0'
		alt='cloud image'
	/>
	<div
		class='relative z-30 container lg:px-16 xl:px-32 pt-8 md:pt-12 lg:pt-16 lg:pb-36 xl:pb-44 2xl:pb-64'>
		<div class="flex flex-col lg:flex-row justify-between gap-8 lg:gap-0 relative px-4 lg:px-0">
			<div class='lg:w-[64%] 2xl:w-2/3'>
				<div class=" w-fit">
					<h1 class='text-brand-blue-100 font-bold text-[32px]/[38px] md:text-[40px]/[48px] 2xl:text-5xl/[56px] pb-3 uppercase space-x-2'>
						Horaires
					</h1>
					<span class='rounded-full w-2 h-2 bg-brand-green-300 block mx-auto mb-6'></span>
				</div>
				<p class='text-brand-gray-500'>
					Lorem ipsum dolor sit amet consectetur. Accumsan feugiat neque ultrices suspendisse. Blandit turpis hac sagittis ultrices aliquet id lacus eu. Lectus sapien non elementum facilisi. Ut turpis laoreet orci nibh vitae vulputate at est odio. Morbi tellus magna nisl in duis. Lectus tristique imperdiet viverra nulla metus. Aenean quis odio eu et. Consectetur ut non vitae pellentesque morbi. Tellus sem id tellus ornare mi. Turpis ac dictum quis dui.
				</p>
			</div>
			<img
					src='/img/hero-schedule-image.png'
					class='lg:absolute top-0 right-0 w-[18.5rem] h-[18.5rem] relative mx-auto lg:mx-0'
					alt='hero schedule image'
				/>
		</div>
	</div>
</div>
<div class="bg-[#fef59b] relative lg:-mt-4 xl:-mt-6 2xl:-mt-10">
	<div class="container lg:px-16 xl:px-32">
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 pb-7 pt-8 lg:pt-0 px-4 lg:px-0'>
			<div class='bg-brand-green-50 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-green-400 font-bold uppercase text-2xl pb-1'>OUEST</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>9480, rue Irène-Joly</span>
				<span class='font-bold text-sm text-brand-green-400 block uppercase'
					>Coin rue Charland <br />
					 Local 7 au sous-sol <br />
					 514 381-9974</span
				>
			</div>
			<div class='bg-brand-blue-50 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-blue-300 font-bold uppercase text-2xl pb-1'>EST Maxi</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
				<span class='font-bold text-sm text-brand-blue-200 block uppercase'
					>Coin boul. Pie-IX <br />
					 Local 214 au 2e étage <br />
					 514 922-9974</span
				>
			</div>
			<div class='bg-brand-blue-50 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-blue-300 font-bold uppercase text-2xl pb-1'>EST</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
				<span class='font-bold text-sm text-brand-blue-200 block uppercase'
					>Coin boul. Pie-IX <br />
					 Local 214 au 2e étage <br />
					 514 922-9974</span
				>
			</div>
			<div class='bg-brand-yellow-75 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-yellow-200 font-bold uppercase text-2xl pb-1'>SUD</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>2651, rue Crémazie Est</span>
				<span class='font-bold text-sm text-brand-yellow-200 block uppercase'
					>Coin 2e Avenue <br />
					 514 722-1211 poste 22 <br />
					 Local 206 au 2e étage</span
				>
			</div>
		</div>
	</div>
</div>
