---

---

<div class='relative'>
	<img
		src='/img/decor-schedule.png'
		class='hidden lg:block absolute inset-x-0 xl:w-[90%] 2xl:w-5/6 mx-auto h-auto top-32 xl:top-20 2xl:top-10 object-cover z-10'
		alt='background decor'
	/>
	<img
		src='/img/decor-schedule-mobile.png'
		class='block lg:hidden absolute inset-x-0 w-[25%] md:w-[20%] ml-auto h-auto top-8 right-0 object-cover z-10'
		alt='background decor'
	/>
	<img
		src='/img/cloud-yellow-mobile.png'
		class='[@media(max-width:399px)]:block [@media(min-width:400px)]:hidden absolute inset-x-0 w-full h-auto object-cover bottom-0 z-0'
		alt='cloud image'
	/>
	<img
		src='/img/cloud-yellow-tablet.png'
		class='[@media(max-width:399px)]:hidden [@media(min-width:400px)_and_(max-width:767px)]:block md:hidden absolute inset-x-0 w-full h-auto object-cover bottom-0 z-0'
		alt='cloud image'
	/>
	<img
		src='/img/cloud-yellow.png'
		class='hidden md:block absolute inset-x-0 w-full h-auto object-cover object-top bottom-0 z-0'
		alt='cloud image'
	/>
	<div class='relative z-30 container lg:px-16 xl:px-32 pt-8 md:pt-12 lg:pt-16 lg:pb-36 xl:pb-44 2xl:pb-64'>
		<div class='flex flex-col lg:flex-row justify-between gap-8 lg:gap-0 relative px-4 lg:px-0'>
			<div class='lg:w-[64%] 2xl:w-2/3'>
				<div class='w-fit'>
					<h1
						class='text-brand-blue-100 font-bold text-[32px]/[38px] md:text-[40px]/[48px] 2xl:text-5xl/[56px] pb-3 uppercase space-x-2'>
						Horaires
					</h1>
					<span class='rounded-full w-2 h-2 bg-brand-green-300 block mx-auto mb-6'></span>
				</div>
				<p class='text-brand-gray-500'>
					Lorem ipsum dolor sit amet consectetur. Accumsan feugiat neque ultrices suspendisse. Blandit turpis hac
					sagittis ultrices aliquet id lacus eu. Lectus sapien non elementum facilisi. Ut turpis laoreet orci nibh vitae
					vulputate at est odio. Morbi tellus magna nisl in duis. Lectus tristique imperdiet viverra nulla metus. Aenean
					quis odio eu et. Consectetur ut non vitae pellentesque morbi. Tellus sem id tellus ornare mi. Turpis ac dictum
					quis dui.
				</p>
			</div>
			<img
				src='/img/hero-schedule-image.png'
				class='lg:absolute top-0 right-0 w-[18.5rem] h-[18.5rem] relative mx-auto lg:mx-0'
				alt='hero schedule image'
			/>
		</div>
	</div>
</div>
<div class='bg-[#fef59b] relative lg:-mt-4 xl:-mt-6 2xl:-mt-10'>
	<div class='container lg:px-16 xl:px-32'>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 pb-7 pt-8 lg:pt-0 px-4 lg:px-0'>
			<div class='bg-brand-green-50 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-green-400 font-bold uppercase text-2xl pb-1'>OUEST</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>9480, rue Irène-Joly</span>
				<span class='font-bold text-sm text-brand-green-400 block uppercase'
					>Coin rue Charland <br />
					 Local 7 au sous-sol <br />
					 514 381-9974</span
				>
			</div>
			<div class='bg-brand-blue-50 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-blue-300 font-bold uppercase text-2xl pb-1'>EST Maxi</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
				<span class='font-bold text-sm text-brand-blue-200 block uppercase'
					>Coin boul. Pie-IX <br />
					 Local 214 au 2e étage <br />
					 514 922-9974</span
				>
			</div>
			<div class='bg-brand-blue-50 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-blue-300 font-bold uppercase text-2xl pb-1'>EST</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>4121, 42e Rue</span>
				<span class='font-bold text-sm text-brand-blue-200 block uppercase'
					>Coin boul. Pie-IX <br />
					 Local 214 au 2e étage <br />
					 514 922-9974</span
				>
			</div>
			<div class='bg-brand-yellow-75 rounded-[16px] p-5 xl:p-6 text-center'>
				<span class='block text-brand-yellow-200 font-bold uppercase text-2xl pb-1'>SUD</span>
				<span class='block uppercase text-brand-gray-500 font-medium min-h-[50px] pb-1'>2651, rue Crémazie Est</span>
				<span class='font-bold text-sm text-brand-yellow-200 block uppercase'
					>Coin 2e Avenue <br />
					 514 722-1211 poste 22 <br />
					 Local 206 au 2e étage</span
				>
			</div>
		</div>
	</div>
</div>
<div class='container lg:px-16 xl:px-32 lg:pt-24'>
	<div class='hidden lg:block mb-12'>
		<div class='bg-[#faf6f0] grid grid-cols-5 p-1 rounded-lg mb-8 gap-5'>
			<span
				class='font-bold rounded-lg bg-brand-green-100 w-full py-1.5 text-center block uppercase shadow-[0px_0px_1px_rgba(25, 27, 35, 0.16)]'>
				Tous
			</span>
			<span class='rounded-lg bg-transparent w-full py-1.5 text-center block uppercase'> OUEST</span>
			<span class='rounded-lg bg-transparent w-full py-1.5 text-center block uppercase'> EST MAXI</span>
			<span class='rounded-lg bg-transparent w-full py-1.5 text-center block uppercase'> EST</span>
			<span class='rounded-lg bg-transparent w-full py-1.5 text-center block uppercase'> SUD</span>
		</div>
		<div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Lundi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>Ateliers stimulation langage 3-5 ans</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Sourissimots</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 9h30 a 11h</span>
						<span class='text-brand-gray-500 text-sm block'> 2 sessions 5 ateliers</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 25 sept au 30 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 13 nov au 11 dec
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
			</div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Mardi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-green-50 inline-block mb-2 uppercase'
						>Ateliers de jeux</span
					>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>Passeport Parent</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
						<span class='text-brand-gray-500 text-sm block'> 2 sessions de 5 ateliers</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 26 sept au 24 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 7 Nov au 5 dec
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>matinées</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Femmes de coeur</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
						<span class='text-brand-gray-500 text-sm block'> Avec halte-garderie</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 12-26 sep
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 10-24 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 7-12 nov
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>matinées</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Femmes de coeur</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
						<span class='text-brand-gray-500 text-sm block'> Avec halte-garderie</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 12-26 sep
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 10-24 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 7-12 nov
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-orange-50 inline-block mb-2 uppercase'
						>Temps de jeux</span
					>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 0-5 ans</span>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					</span>
				</span>
			</div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Mecredi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>Formation et prêt de porte-bebe</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block mb-1'> 10h a 11h30</span>
						<span class='text-brand-gray-500 text-sm block'> Inscriptions obligatories</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 13,20 sept
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 4,18 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 1,8,22 nov
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 6, 13 dec
					</span>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>prêt de jouets</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block mb-1'> 14h a 16h</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>Temps de jeux</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>0-5 ans</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Formation et prêt de porte-bebe</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block mb-1'> 10h a 11h39</span>
						<span class='text-brand-gray-500 text-sm block'> Inscriptions obligatories</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 27 sep
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 25 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 29 nov
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
			</div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Jeudi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-green-50 inline-block mb-2 uppercase'
						>comite parents</span
					>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'
						>Pour prendre soin de la collection de jouets</span
					>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block mb-1'> 13h a 15h</span>
						<span class='text-brand-gray-500 text-sm block'> Selon votre disponibilité</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>Temps de jeux</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>0-5 ans</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>Séminaires parents</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Triple P</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block mb-1'> 9h a 12H</span>
						<span class='text-brand-gray-500 text-sm block mb-1'> Avec halte-garderie</span>
						<span class='text-brand-gray-500 text-sm block'> Inscriptions obligatories</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 3 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 5 nov
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479AF6'
							></path></svg
						>
						 7 dec
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
			</div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Vendredi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>prêt de jouets</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h a 21h</span>
					</span>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>L’ile des jeus</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h a 21h</span>
						<span class='text-brand-gray-500 text-sm block'> 4 familles a la fois</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 13 oct au 9 dec
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
						>comite parents</span
					>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'
						>Pour prendre soin de la collection de jouets</span
					>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block mb-1'> 9h30 a 11h30</span>
						<span class='text-brand-gray-500 text-sm block'> Selon votre disponibilité</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span
						class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-orange-50 inline-block mb-2 uppercase'
						>Ateliers de jeux</span
					>
					<span class='text-brand-orange-100 uppercase font-bold block mb-1'>Passeport Parent</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
						<span class='text-brand-gray-500 text-sm block'> 2 sessions de 5 ateliers</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ff7900'
							></path></svg
						>
						 26 sept au 24 oct
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ff7900'
							></path></svg
						>
						 7 Nov au 5 dec
					</span>
				</span>
			</div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Samedi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>Prêt de jouets</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 16h</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Prêt de jouets</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 16h</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-orange-100 uppercase font-bold block mb-1'>Prêt de jouets</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 16h</span>
					</span>
				</span>
			</div>
		</div>
	</div>
	<div class='hidden lg:block'>
		<div>
			<h2 class='text-[32px]/[48px] font-bold uppercase text-brand-green-400 text-center space-x-2'>
				Calendrier
				<span class='text-brand-blue-100'>programmation</span>
				<span class='text-brand-orange-50'>externe</span>
			</h2>
			<span class='rounded-full w-2 h-2 bg-brand-blue-100 block mx-auto mb-8'></span>
		</div>
		<div class='bg-[#faf6f0] grid grid-cols-5 px-1 items-center rounded-lg mb-8 gap-5'>
			<span
				class='font-bold rounded-lg bg-brand-blue-100 text-white w-full py-1.5 text-center block uppercase shadow-[0px_0px_1px_rgba(25, 27, 35, 0.16)]'>
				Tous
			</span>
			<span class='font-medium rounded-lg bg-transparent text-brand-gray-500 w-full py-1.5 text-center block uppercase'>
				Gymnase de l’école Marie-River
			</span>
			<span class='font-medium rounded-lg bg-transparent text-brand-gray-500 w-full py-1.5 text-center block uppercase'>
				Planétarium
			</span>
			<span class='font-medium rounded-lg bg-transparent text-brand-gray-500 w-full py-1.5 text-center block uppercase'>
				chamdoré Park, Parc Rene- Goupil
			</span>
			<span class='font-medium rounded-lg bg-transparent text-brand-gray-500 w-full py-1.5 text-center block uppercase'>
				zoom
			</span>
		</div>
		<div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Mercredi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'
						>les explorateurs : combo sortie familiale & soiree quiz</span
					>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 27 sept
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h30 a 21h</span>
						<span class='text-brand-gray-500 text-sm block'> 5-12 ans et leurs parents</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-yellow-warm uppercase font-bold block mb-1'>Sortie aux pommes</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ffb800'
							></path></svg
						>
						 23 sept
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'>
							En autobus scolaire Inscription via l’infolettre du 9 septembre Places limitées
						</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-orange-100 uppercase font-bold block mb-1'>conferences parents</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ff7900'
							></path></svg
						>
						 25 sept
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h30 a 21h</span>
						<span class='text-brand-gray-500 text-sm block'> Epicerie santé, budget serre</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ff7900'
							></path></svg
						>
						 15 nov
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h 30 a 21h Sujet a venir</span>
					</span>
					<span class='text-brand-orange-100 uppercase font-bold block mb-1'>conferences citoyennes</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ff7900'
							></path></svg
						>
						 27 sept
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h30 a 21h</span>
						<span class='text-brand-gray-500 text-sm block'> Sujet a venir</span>
					</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ff7900'
							></path></svg
						>
						 29 nov
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 19h 30 a 21h</span>
						<span class='text-brand-gray-500 text-sm block'> Sujet a venir</span>
					</span>
				</span>
			</div>
			<div class='grid grid-cols-5 mb-4'>
				<span class='border-r border-brand-gray-50 pr-4 flex items-center'>
					<span class='uppercase font-bold text-brand-gray-500'> Samedi</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>Ligue de soccer</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#159d0d'
							></path></svg
						>
						 23 sept
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> Peres enfants 4-12 ans</span>
					</span>
					<span class='text-brand-green-400 uppercase font-bold block mb-1'>papas champions</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
						<span class='text-brand-gray-500 text-sm block'> ! Un parent doit jouer sur le terrain!</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Planétarium visiter</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#479af6'
							></path></svg
						>
						 21 oct
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> Places limitees</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'>
					<span class='text-brand-yellow-warm uppercase font-bold block mb-1'>Fete familiale des saveurs</span>
					<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
						<svg
							width='17'
							height='16'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
								fill='#ffb800'
							></path></svg
						>
						 30 sept
					</span>
					<span class='mb-2 block'>
						<span class='text-brand-gray-500 text-sm block'> Places limitees</span>
					</span>
				</span>
				<span class='border-r border-brand-gray-50 px-4'> </span>
			</div>
		</div>
	</div>
</div>
<div class='block lg:hidden'>
	<div class='bg-brand-blue-50 py-6'>
		<div class='container'>
			<div class='w-full'>
				<label
					for='date'
					class='font-bold text-brand-gray-500 block pb-1.5'
					>Sélectionner un lieu</label
				>
				<select
					name='date'
					id='date'
					class='border border-brand-gray-75 p-4 rounded-md w-full uppercase'>
					<option value=''>Tous</option>
					<option value=''>OUEST</option>
					<option value=''>EST Maxi</option>
					<option value=''>EST</option>
					<option value=''>SUD</option>
				</select>
			</div>
		</div>
	</div>
	<div x-data='{ isAccordionOpen: true, }'>
		<button
			@click='isAccordionOpen = !isAccordionOpen'
			class='bg-[#faf6f0] py-4 w-full'>
			<div class='container'>
				<div class='flex gap-4 justify-between'>
					<span class='font-bold text-black uppercase'>Lundi</span>
					<span
						class='transition-transform duration-300 ease-linear rotate-0'
						:class="{ '!rotate-180': isAccordionOpen }">
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							stroke='#cccac7'
							class='w-6 h-6'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 8.25l-7.5 7.5-7.5-7.5'
							></path>
						</svg>
					</span>
				</div>
			</div>
		</button>
		<div
			class='container py-4 space-y-8'
			x-show='isAccordionOpen'
			x-collapse>
			<span>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
					>Ateliers stimulation langage 3-5 ans</span
				>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Sourissimots</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 9h30 a 11h</span>
					<span class='text-brand-gray-500 text-sm block'> 2 sessions 5 ateliers</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 25 sept au 30 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 13 nov au 11 dec
				</span>
			</span>
		</div>
	</div>
	<div x-data='{ isAccordionOpen: false, }'>
		<button
			@click='isAccordionOpen = !isAccordionOpen'
			class='bg-[#faf6f0] py-4 w-full'>
			<div class='container'>
				<div class='flex gap-4 justify-between'>
					<span class='font-bold text-black uppercase'>Mardi</span>
					<span
						class='transition-transform duration-300 ease-linear rotate-0'
						:class="{ '!rotate-180': isAccordionOpen }">
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							stroke='#cccac7'
							class='w-6 h-6'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 8.25l-7.5 7.5-7.5-7.5'
							></path>
						</svg>
					</span>
				</div>
			</div>
		</button>
		<div
			class='container py-4 space-y-8'
			x-show='isAccordionOpen'
			x-collapse>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-green-50 inline-block mb-2 uppercase'
					>Ateliers de jeux</span
				>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>Passeport Parent</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					<span class='text-brand-gray-500 text-sm block'> 2 sessions de 5 ateliers</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 26 sept au 24 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 7 Nov au 5 dec
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
					>matinées</span
				>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Femmes de coeur</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					<span class='text-brand-gray-500 text-sm block'> Avec halte-garderie</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 12-26 sep
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 10-24 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 7-12 nov
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-orange-50 inline-block mb-2 uppercase'
					>Temps de jeux</span
				>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 0-5 ans</span>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
				</span>
			</span>
		</div>
	</div>
	<div x-data='{ isAccordionOpen: false, }'>
		<button
			@click='isAccordionOpen = !isAccordionOpen'
			class='bg-[#faf6f0] py-4 w-full'>
			<div class='container'>
				<div class='flex gap-4 justify-between'>
					<span class='font-bold text-black uppercase'>Mecredi</span>
					<span
						class='transition-transform duration-300 ease-linear rotate-0'
						:class="{ '!rotate-180': isAccordionOpen }">
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							stroke='#cccac7'
							class='w-6 h-6'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 8.25l-7.5 7.5-7.5-7.5'
							></path>
						</svg>
					</span>
				</div>
			</div>
		</button>
		<div
			class='container py-4 space-y-8'
			x-show='isAccordionOpen'
			x-collapse>
			<span class='block'>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>Formation et prêt de porte-bebe</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block mb-1'> 10h a 11h30</span>
					<span class='text-brand-gray-500 text-sm block'> Inscriptions obligatories</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 13,20 sept
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 4,18 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 1,8,22 nov
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 6, 13 dec
				</span>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>prêt de jouets</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block mb-1'> 14h a 16h</span>
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
					>Temps de jeux</span
				>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>0-5 ans</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Formation et prêt de porte-bebe</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block mb-1'> 10h a 11h39</span>
					<span class='text-brand-gray-500 text-sm block'> Inscriptions obligatories</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 27 sep
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 25 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 29 nov
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'
					>les explorateurs : combo sortie familiale & soiree quiz</span
				>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 27 sept
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h30 a 21h</span>
					<span class='text-brand-gray-500 text-sm block'> 5-12 ans et leurs parents</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-yellow-warm uppercase font-bold block mb-1'>Sortie aux pommes</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ffb800'
						></path></svg
					>
					 23 sept
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'>
						En autobus scolaire Inscription via l’infolettre du 9 septembre Places limitées
					</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-orange-100 uppercase font-bold block mb-1'>conferences parents</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ff7900'
						></path></svg
					>
					 25 sept
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h30 a 21h</span>
					<span class='text-brand-gray-500 text-sm block'> Epicerie santé, budget serre</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ff7900'
						></path></svg
					>
					 15 nov
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h 30 a 21h Sujet a venir</span>
				</span>
				<span class='text-brand-orange-100 uppercase font-bold block mb-1'>conferences citoyennes</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ff7900'
						></path></svg
					>
					 27 sept
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h30 a 21h</span>
					<span class='text-brand-gray-500 text-sm block'> Sujet a venir</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ff7900'
						></path></svg
					>
					 29 nov
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h 30 a 21h</span>
					<span class='text-brand-gray-500 text-sm block'> Sujet a venir</span>
				</span>
			</span>
		</div>
	</div>
	<div x-data='{ isAccordionOpen: false, }'>
		<button @click='isAccordionOpen = !isAccordionOpen'
		class='bg-[#faf6f0] py-4 w-full'>
			<div class='container'>
				<div class='flex gap-4 justify-between'>
					<span class='font-bold text-black uppercase'>Jeudi</span>
					<span
						class='transition-transform duration-300 ease-linear rotate-0'
						:class="{ '!rotate-180': isAccordionOpen }">
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							stroke='#cccac7'
							class='w-6 h-6'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 8.25l-7.5 7.5-7.5-7.5'
							></path>
						</svg>
					</span>
				</div>
			</div>
		</button>
		<div class='container py-4 space-y-8'
		x-show='isAccordionOpen'
		x-collapse >
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-green-50 inline-block mb-2 uppercase'
					>comite parents</span
				>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'
					>Pour prendre soin de la collection de jouets</span
				>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block mb-1'> 13h a 15h</span>
					<span class='text-brand-gray-500 text-sm block'> Selon votre disponibilité</span>
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
					>Temps de jeux</span
				>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>0-5 ans</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
					>Séminaires parents</span
				>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Triple P</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block mb-1'> 9h a 12H</span>
					<span class='text-brand-gray-500 text-sm block mb-1'> Avec halte-garderie</span>
					<span class='text-brand-gray-500 text-sm block'> Inscriptions obligatories</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 3 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 5 nov
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479AF6'
						></path></svg
					>
					 7 dec
				</span>
			</span>
		</div>
	</div>
	<div x-data='{ isAccordionOpen: false, }'>
		<button @click='isAccordionOpen = !isAccordionOpen'
		class='bg-[#faf6f0] py-4 w-full'>
			<div class='container'>
				<div class='flex gap-4 justify-between'>
					<span class="font-bold text-black uppercase">Vendredi</span>
					<span 	class='transition-transform duration-300 ease-linear rotate-0'
					:class="{ '!rotate-180': isAccordionOpen }">
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							stroke='#cccac7'
							class='w-6 h-6'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 8.25l-7.5 7.5-7.5-7.5'
							></path>
						</svg>
					</span>
				</div>
			</div>
		</button>
			<div class='container py-4 space-y-8'
		x-show='isAccordionOpen'
		x-collapse >
			<span class='block'>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>prêt de jouets</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h a 21h</span>
				</span>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>L’ile des jeus</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 19h a 21h</span>
					<span class='text-brand-gray-500 text-sm block'> 4 familles a la fois</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 13 oct au 9 dec
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-blue-50 inline-block mb-2 uppercase'
					>comite parents</span
				>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'
					>Pour prendre soin de la collection de jouets</span
				>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block mb-1'> 9h30 a 11h30</span>
					<span class='text-brand-gray-500 text-sm block'> Selon votre disponibilité</span>
				</span>
			</span>
			<span class='block'>
				<span
					class='font-bold text-xs/[18px] text-brand-gray-500 px-2 py-1 rounded-xl bg-brand-orange-50 inline-block mb-2 uppercase'
					>Ateliers de jeux</span
				>
				<span class='text-brand-orange-100 uppercase font-bold block mb-1'>Passeport Parent</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					<span class='text-brand-gray-500 text-sm block'> 2 sessions de 5 ateliers</span>
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ff7900'
						></path></svg
					>
					 26 sept au 24 oct
				</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ff7900'
						></path></svg
					>
					 7 Nov au 5 dec
				</span>
			</span>
		</div>
	</div>
	<div x-data='{ isAccordionOpen: false, }'>
		<button @click='isAccordionOpen = !isAccordionOpen'
		class='bg-[#faf6f0] py-4 w-full'>
			<div class='container'>
				<div class='flex gap-4 justify-between'>
					<span class='font-bold text-black uppercase'>Samedi</span>
					<span 	class='transition-transform duration-300 ease-linear rotate-0'
					:class="{ '!rotate-180': isAccordionOpen }">
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							stroke='#cccac7'
							class='w-6 h-6'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 8.25l-7.5 7.5-7.5-7.5'
							></path>
						</svg>
					</span>
				</div>
			</div>
		</button>
		<div class='container py-4 space-y-8'
		x-show='isAccordionOpen'
		x-collapse >
			<span class='block'>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>Prêt de jouets</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 16h</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Prêt de jouets</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 16h</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-orange-100 uppercase font-bold block mb-1'>Prêt de jouets</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 16h</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>Ligue de soccer</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#159d0d'
						></path></svg
					>
					 23 sept
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> Peres enfants 4-12 ans</span>
				</span>
				<span class='text-brand-green-400 uppercase font-bold block mb-1'>papas champions</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> 10h a 12h</span>
					<span class='text-brand-gray-500 text-sm block'> ! Un parent doit jouer sur le terrain!</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-blue-100 uppercase font-bold block mb-1'>Planétarium visiter</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#479af6'
						></path></svg
					>
					 21 oct
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> Places limitees</span>
				</span>
			</span>
			<span class='block'>
				<span class='text-brand-yellow-warm uppercase font-bold block mb-1'>Fete familiale des saveurs</span>
				<span class='flex gap-2 font-medium text-sm items-center text-brand-gray-500 uppercase mb-2'>
					<svg
						width='17'
						height='16'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M10.5 1a1 1 0 1 1 2 0v2h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2V1a1 1 0 0 1 2 0v2h4V1Zm-6 4a1 1 0 0 0 2 0h4a1 1 0 1 0 2 0h1v2h-10V5h1Zm-1 4v4h10V9h-10Z'
							fill='#ffb800'
						></path></svg
					>
					 30 sept
				</span>
				<span class='mb-2 block'>
					<span class='text-brand-gray-500 text-sm block'> Places limitees</span>
				</span>
			</span>
		</div>
	</div>
</div>
