---
import Layout from '@layouts/Layout.astro';
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import BecomeMemberAstro from '@pages/BecomeMember.astro';
---

<Layout title='Become Member'>
	<Header />
	<div class='-mb-36 2xl:-mb-48'>
		<BecomeMemberAstro />
	</div>
	<Footer />
</Layout>
