---
import Layout from '@layouts/Layout.astro';
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import LoginAstro from '@pages/Login.astro';
---

<Layout title='Team'>
	<Header />
	<div class='-mb-36 2xl:-mb-48'>
		<LoginAstro />
	</div>
	<Footer />
</Layout>
