---
import Layout from '@layouts/Layout.astro';
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import ProfileVisitorAstro from '@pages/ProfileVisitor.astro';
---

<Layout title='Profile Visitor'>
	<Header />
	<div class='-mb-36 2xl:-mb-48'>
		<ProfileVisitorAstro />
	</div>
	<Footer />
</Layout>
