---
import Layout from '@layouts/Layout.astro';
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import ProfileEditAstro from '@pages/ProfileEdit.astro';
---

<Layout title='Profile Edit'>
	<Header />
	<div class='-mb-36 2xl:-mb-48'>
		<ProfileEditAstro />
	</div>
	<Footer />
</Layout>
