---
import Layout from '@layouts/Layout.astro';
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import UpcomingActivitiesEditAstro from '@pages/UpcomingActivitiesEdit.astro';
---

<Layout title='Upcoming Activities Edit'>
	<Header />
	<div class='-mb-36 2xl:-mb-48'>
		<UpcomingActivitiesEditAstro />
	</div>
	<Footer />
</Layout>
