---
import Layout from '@layouts/Layout.astro';
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import UpcomingActivitiesAstro from '@pages/UpcomingActivities.astro';
---

<Layout title='Upcoming Activities'>
	<Header />
	<div class='-mb-36 2xl:-mb-48'>
		<UpcomingActivitiesAstro />
	</div>
	<Footer />
</Layout>
