<div class="container lg:px-16 xl:px-32 py-4">
		<div class="flex flex-col sm:flex-row justify-between items-center lg:pb-4 w-full">
			<a href="/" class="sm:mr-16 md:mr-32 lg:mr-0 block shrink-0">
				<img src="/img/logo-joujoutheque.png" class="h-16" alt="logo">
			</a>
			<div class="flex flex-row-reverse sm:flex-row items-center justify-between lg:justify-end w-full pt-8 sm:pt-0">
				<a href="/" class="font-semibold text-[#2C76C8] uppercase text-sm rounded-full border border-[#2C76C8] py-1.5 pl-4 pr-5 flex gap-2">
					<img src="/img/icon-user.svg" alt="icon user">
					Connexion
				</a>
				<button class="block lg:hidden">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
				</button>
			</div>
		</div>
		<ul class="lg:flex gap-10 pl-4 hidden">
			<li>
				<a href="/" class="">Qui sommes-nous?</a>
			</li>
			<li>
				<a href="/" class="">Programmation</a>
			</li>
			<li>
				<a href="/" class="">Fiches-jeux</a>
			</li>
			<li>
				<a href="/" class="">Photos</a>
			</li>
			<li>
				<a href="/" class="">Ressources</a>
			</li>
			<li>
				<a href="/" class="">Don</a>
			</li>
			<li>
				<a href="/" class="">Contact</a>
			</li>
		</ul>
</div>
